<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAutothon" verbose="1" preserve-order="true">
	<listeners>
		<listener class-name="com.testautothon.Listeners.TestListener" />
		<listener class-name="com.testautothon.Listeners.AnnotationTransformer" />
		
		
	</listeners>
	<parameter name = "browser" value="chrome" />
	<parameter name = "baseUrl" value="https://twitter.com/stepin_forum" />
	<parameter name = "listCount" value="3" />
	<parameter name = "iTimeLinePostsCount" value="50" />
	
	<test name="Testautothon" preserve-order="true">
		
		<classes>

			<class name="tests.TwitterTest" >
			</class>
			
		</classes>
	</test>
</suite>
